<div *ngFor="let customer of customerList">
    <div class="card">
      <div class="card-body">
        <div class = "row">
          <div class="col-4">
            <a class="card-title nav-link" [routerLink]="['/customer-detail',customer.id]">{{customer.name}}</a>
          </div>
          <div class="col-4 text-center">
            <p class="card-text">{{customer.email}}</p>
          </div>
          <div class="col-4 text-right">
            <p class="card-text">{{customer.number}}</p>
          </div>
    
      </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let order of customer.orders">
            <div class="d-flex justify-content-between">
              <span><strong>Order ID: </strong> {{order.id}}</span>
              <span> <strong>Purchised Date: </strong>{{order.date}}</span>
            </div>
            <div class="d-flex justify-content-end">
              <span> <strong>Total: </strong>{{order.total}}</span>
            </div>
          </li>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/orders', customer.id]">View Orders</a>
            </li>
        </ul>
        </ul>
      </div>
    </div>
  </div>
